@import url(../../common.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap');

body{
    color: white;
    font-size:15px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* header style */
header{
    /* background: orange; */
    padding: 20px 0;
    /* 헤더가 마우스를 스크롤 하면 따라 움직이도록 설정 */
    position: fixed;
    /* 헤더를 고정시키면 가로가 깨져서 가로는 100%로 맞춤 */
    width: 100%;
    /* 헤더를 맨 위로 고정 후 맨 앞으로 나오게 함 */
    top: 0;
    z-index: 999;
}
header .inner-header{
    /* background: tomato; */
    width: 92%;
    margin: 0 auto;
    /* 수평정리 */
    display: flex;
    /* 가로축 센터로 정리 */
    align-items: center;
}
header .inner-header .logo{
    /* border: 2px solid aqua; */
    /* 비율 정리 */
    flex:1;
}
header .inner-header .logo img{
    /* 세로 길이 정리 */
    height: 60px;
}
header .inner-header .intro-text{
    /* border: 2px solid violet; */
    /* 비율정리 */
    flex:4;
    font-weight: 700;
    font-size: 1.7em;
    /* 소문자를 대문자로 */
    text-transform: uppercase;
}
header .inner-header .menu-open{
    border: 2px solid greenyellow;
    /* 비율정리 */
    flex: 1;
    font-weight: 700;
    font-size:1.2em;
    /* background: violet; */
    /* 메뉴바가 세로가 너무 작아서 넓게 만듦 */
    align-self: stretch;
    display: flex;
    align-items: center;
    /* 메뉴바가 왼쪽에 있어서 오른쪽으로 넘김 */
    justify-content: flex-end;
}
header .inner-header .menu-open .lnr-menu{
    font-size: 33px;
    margin-left: 15px;
}
header .gnb{
    /* 메뉴바의 속성들을 숨김 */
    /* display: none; */
    background: #000;
    color: #666;
    font-weight: 700;
    /* 텍스트를 오른쪽에 항상 고정 포지션은 텍스트를 세로로 정렬 */
    position: fixed;
    padding: 70px 100px;
    height: 100vh;
    /* 애니메이션 효과를 위해 메뉴를 오른쪽으로 아예 버림 */
    right: -100%;
    top: 0;
    display: flex;
    /* 메뉴창에 x 버튼의 순서를 맨 뒤로 바꿈  */
    flex-direction: row-reverse;
    transition: 0.8s;
}
head .gnb.open{
    right: 0;
}
header .gnb .close{
    color: white;
    margin-left: 150px;
}
header .gnb ul{
    line-height: 1.7;
}
header .gnb ul li:hover,
header .gnb ul li.active{
    color:white;
}


/* section visual style */
section.visual .slide li{
    background: violet;
    height: 100vh;
    /* 세로 사진이 너무 커서 스크롤 내리면 밑에를 숨겨벼림 */
    overflow: hidden;
    position: relative;
}
section.visual .slide li img{
    width: 100%;
    /* 사진을 위로 올림 */
    position: absolute;
    top: -70px;
}
section.visual .slide li .txt{
    /* 위에 img를 포지션 두니깐 텍스트가 위로 쭉 올라감
    그래서 텍스트를 포지션 줘서 다시 가져옴 */
    /* position으로 화면 정중앙에 놓는 공식 */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-20%, -50%);
    font-size: 18px;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.8);
}
section.visual .slide li .txt h3{
    margin: 30px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.3;
}
section.visual .slide li .scroll{
    position: absolute;
    left:10%;
    bottom: 10%;
    font-size: 15px;
    font-weight: 700;
    color: #ccc;
    /* 글씨의 각도를 바꿈 */
    transform:rotate(-90deg);
}